# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[S3E]
MemSize=6000000
MemSizeDebug=6000000
DispFixRot=FixedLandscape

# emulate iphone 5 resolution, change these settings to emulate other display resolution
WinWidth=1136
WinHeight=640

[GX]
DataCacheSize=131070

[Util] 
#MemoryBreakpoint=1282
