build/*
*/Debug/*
*/Release/*
*/ipch/*
*/x64/*
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.o
*.obj
*.pdb
*.ilk
*.VC.db
*.VC.VC.opendb

## XCode cruft
.DS_Store
project.xcworkspace
xcuserdata/*

## Executables
*.exe
example_glfw_opengl2/example_glfw_opengl2
example_glfw_opengl3/example_glfw_opengl3
example_sdl_opengl2/example_sdl_opengl2
example_sdl_opengl3/example_sdl_opengl3

## Dear ImGui Ini files
imgui.ini
