build/*
Debug/*
Release/*
ipch/*
x64/*
directx9_example/Debug/*
directx9_example/Release/*
directx9_example/ipch/*
directx9_example/x64/*
directx10_example/Debug/*
directx10_example/Release/*
directx10_example/ipch/*
directx10_example/x64/*
directx11_example/Debug/*
directx11_example/Release/*
directx11_example/ipch/*
directx11_example/x64/*
opengl2_example/Debug/*
opengl2_example/Release/*
opengl2_example/ipch/*
opengl2_example/x64/*
opengl2_example/opengl_example
opengl3_example/Debug/*
opengl3_example/Release/*
opengl3_example/ipch/*
opengl3_example/x64/*
opengl3_example/opengl3_example
sdl_opengl2_example/Debug/*
sdl_opengl2_example/Release/*
sdl_opengl2_example/ipch/*
sdl_opengl2_example/x64/*
sdl_opengl3_example/Debug/*
sdl_opengl3_example/Release/*
sdl_opengl3_example/ipch/*
sdl_opengl3_example/x64/*
vulkan_example/Debug/*
vulkan_example/Release/*
vulkan_example/ipch/*
vulkan_example/x64/*
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.o
*.obj
*.exe
*.pdb
*.ilk
*.VC.db
*.VC.VC.opendb

## Ini files
imgui.ini
