build/
*.iml
.gradle
.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio puts a Gradle wrapper here, that we don't want:
gradle/
!gradle/libs.versions.toml
gradlew*
