#
# This is a dummy workflow used to trigger scheduled builds. Forked repositories most likely should disable this
# workflow to avoid daily builds of inactive repositories.
#
name: scheduled

on:
  schedule:
    - cron:  '0 9 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
